body {
    background-color: #5CCCCC;
    /*font-palette: light;*/
    color: rgb(0, 0, 0);
}

table {
    border-collapse: collapse;
    margin: auto;
    text-align: center;
}

h1 {
    font-family: monospace;
    font-size:10vh;
    color:#006363;
    text-align: center;
}

td, th {
    font-family: monospace;
    border: 1px solid #1D7373;
    padding: 0.65rem;
    text-align: center;
    font-size: 1.9vh;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 60%, 60%, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 1.5rem;
    background-color:#009999;
    width: 24rem;
    border-radius: 0.5rem;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.td_h {
    border: 1px solid #1D7373;
    padding: 1rem;
    font-size: 2.4vh;
}

.td_empty {
    border: 0px solid #1D7373;
}

.td_light {
    padding: 0.1rem;
    border: 0px solid #1D7373;
    font-size: 2.4vh;
    width: 100px;
    height: 45px;
}

.td_man {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border: 0px solid #1D7373;
    font-size: 2.4vh;
    height: 45px;
}

.get_button {
    font-family: monospace;
    font-size: 1.9vh;
    width: 90%;
    height: 90%;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}

.man_button {
    font-family: monospace;
    font-size: 1.9vh;
    width: 100%;
    height: 85%;
}

.lib_manager {
    height: 100px;
}

.login {
    font-family: monospace;
    font-size: 1.9vh;

}

.center_div {
    text-align: center;
    justify-content: center;
}